<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\FireGento\MageBot\Botman\BotmanConfig" type="\FireGento\MageBot\Helper\Config"/>
    <preference for="\Mpociot\BotMan\Interfaces\CacheInterface" type="\FireGento\MageBot\Botman\CacheBridge" />
</config>